.Rightbar{
    flex:1;
    /* margin-right:50px; */
}

.RightContainer{
    width:20pc;
    height: 30vh;
    background-color: white;
    margin-top: 20px;
    border-radius:15px;
    overflow-y:auto;
}

.RightContainer2{
    width:20pc;
    height: 50vh;
    background-color: white;
    margin-top: 20px;
    border-radius:15px;
    overflow-y:auto;
}


.AdsImage{
  width:100px;
  height:80px;
}

.AdsContainer{
    display:flex;
    align-items:center;
    margin-left: 10px;
    padding:10px
}

.ProfileImage{
    height:40px;
    width:40px;
    border-radius:50%;
    margin-left: 20px;
}

.AddFrndImage{
    width:30px;
    height:30px;
    border-radius: 40%;
    margin-right:20px;
    

}