.ProfileMainPostContainer{
    flex:3;
  
}
.profilemainh3style{
    color: "white";
    margin-top: -35px;
    font-size: 20px;
    text-align: "start";
    margin-left: 40;
    
}



.coverImage{
    width:92%;
    background-color: white;
    height: 26vh;
    border-radius: 20px;
    margin:auto;
    margin-top: 25px;

}