.Rightbar{
    flex:1
}

.RightContainer{
    width:20pc;
    height: 40vh;
    background-color: white;
    margin-top: 20px;
    border-radius:15px;
    overflow-y:auto;
}

.RightContainer2{
    width:20pc;
    height: 40vh;
    background-color: white;
    margin-top: 20px;
    border-radius:15px;
    overflow-y:auto;
}


.AdsImage{
  width:130px;
  height:100px;
}

.AdsContainer{
    display:flex;
    align-items:center;
    margin-left: 10px;
    padding:10px
}